<div class="row">
  <% @articles.each do |article| %>
  <div class="col s12 m6">
    <div class="card blue darken-1">
      <div class="card-content white-text">
        <span class="card-title"> <%= article.title %> </span>
        <p> <%= article.description %> </p>
      </div>
      <div class="card-action">
        <%= link_to "Show more", article_path(article), class: "btn wave-effect waves-light blue darken-4 white-text" %> 
      </div>
    </div>
  </div>
  <% end %>
  <div class="col s12 m6">
    <%= link_to(new_article_path, class: "btn-floating btn-large waves-effect waves-light blue") do  %>
      <i class="material-icons">add</i>
    <% end %>
  </div>
</div>
<div></div>
