<footer class="alb_footer grey darken-3">
  <div class="alb_footer_container">
    <small>
        Copyright <a href="#">Alpha Blog - Ruby on Rails Demo</a>
        by <a href="#">Richard Hoyos</a>
    </small>
  </div>
</footer>
