<h1 align="center">Listing All Categories </h1>
<div class="row">
  <div class="flickr_pagination">
      <!-- <div class="page_info">
        <% page_entries_info @categories %>
      </div> -->
      <%= will_paginate @categories, :container => false %>
  </div>
</div>
<div class="row center">
  <div class="col s12 m4 offset-m4">
      <% @categories.each do |category| %>
      <div class="chip">
        <%= link_to category.name, category_path(category) %>
        <small> <%= pluralize(category.articles.count, 'article') %> </small>
      </div>
      <% end %>
  </div>
</div>
<div class="row">
  <div class="flickr_pagination">
      <!-- <div class="page_info">
        <% page_entries_info @categories %>
      </div> -->
      <%= will_paginate @categories, :container => false %>
  </div>
</div>